<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<main>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <h1 class="display-4"> KayGym <%= title %></h1>
      <p> Welcome to the KayGym, we trust that we provide you with the tools for you to have a better life.
    </div>
  </div>
</main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>